
<section class="team">
    <div class="container">
        <div class="row  sub_content">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dividerHeading">
                    <h4><span>Meet the Team</span></h4>
                </div>
            </div>
            <h1><span>Front End Developer</span></h1>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/teams/Team1.jpg" alt="profile img">
                        <div class="social_media_team">
                            <ul class="team_social">
                                <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="lnkn" href="#." data-placement="top" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ingr" href="#." data-placement="top" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="git" href="#." data-placement="top" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_prof">     
                        <h3 class="names">Mani<small>Front End Developer</small></h3>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/teams/Team2.jpg" alt="profile img">
                        <div class="social_media_team">
                            <ul class="team_social">
                                <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="lnkn" href="#." data-placement="top" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ingr" href="#." data-placement="top" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="git" href="#." data-placement="top" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_prof">
                        <h3 class="names">Mithun<small>Back End Developer</small></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/teams/Team3.jpg" alt="profile img">
                        <div class="social_media_team">
                            <ul class="team_social">
                                <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="lnkn" href="#." data-placement="top" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ingr" href="#." data-placement="top" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="git" href="#." data-placement="top" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                           
                            </ul>

                        </div>
                    </div>
                    <div class="team_prof">
                        <h3 class="names">Murali<small>Front End Developer</small></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/teams/Team4.jpg" alt="profile img">
                        <div class="social_media_team">
                            <ul class="team_social">
                                <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="lnkn" href="#." data-placement="top" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ingr" href="#." data-placement="top" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="git" href="#." data-placement="top" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_prof">
                        <h3 class="names">Manoj<small>Tester</small></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/teams/Team5.jpg" alt="profile img">
                        <div class="social_media_team">
                            <ul class="team_social">
                                <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="lnkn" href="#." data-placement="top" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ingr" href="#." data-placement="top" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="git" href="#." data-placement="top" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_prof">
                        <h3 class="names">Harivignesh<small>Front End Developer</small></h3>
                     </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/teams/Team6.jpg" alt="profile img">
                        <div class="social_media_team">
                            <ul class="team_social">
                                <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="lnkn" href="#." data-placement="top" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="ingr" href="#." data-placement="top" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="git" href="#." data-placement="top" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team_prof">
                        <h3 class="names">NirmalKumar<small>Managing</small></h3>
                     </div>
                </div>
            </div>   
        </div>
    </div>
</section>